schemas/camt/camt.005.001.11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2024 Feb 29 13:25:37, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.005.001.11" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.005.001.11">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountCashEntryReturnCriteria3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryRefInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctTpInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryAmtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctCcyInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryStsInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryDtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationSearchCriteria2Choice">
        <xs:choice>
            <xs:element name="EQ" type="AccountIdentification4Choice"/>
            <xs:element name="CTTxt" type="Max35Text"/>
            <xs:element name="NCTTxt" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ActiveAmountRange3Choice">
        <xs:choice>
            <xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange1"/>
            <xs:element name="CcyAndAmtRg" type="ActiveCurrencyAndAmountRange3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ActiveCurrencyAndAmountRange3">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAmountRange1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Ccy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricAmountRange2Choice">
        <xs:choice>
            <xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange1"/>
            <xs:element name="CcyAndAmtRg" type="ActiveOrHistoricCurrencyAndAmountRange2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmountRange2">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAmountRange1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmountRangeBoundary1">
        <xs:sequence>
            <xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Incl" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress27"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountEntrySearch8">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctId" type="AccountIdentificationSearchCriteria2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtryAmt" type="ActiveOrHistoricAmountRange2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtryAmtCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtrySts" type="EntryStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtryDt" type="DateAndDateTimeSearch3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification272"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="BranchAndFinancialInstitutionIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashPaymentStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="FINL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contact13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailPurp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherContact1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefrdMtd" type="PreferredContactMethod2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeSearch3Choice">
        <xs:choice>
            <xs:element name="DtTmSch" type="DateTimePeriod1Choice"/>
            <xs:element name="DtSch" type="DatePeriodSearch1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth1">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodSearch1Choice">
        <xs:choice>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrToDt" type="DatePeriod2"/>
            <xs:element name="EQDt" type="ISODate"/>
            <xs:element name="NEQDt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1Choice">
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
            <xs:element name="DtTmRg" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetTx" type="GetTransactionV11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EntryStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOK"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="FUTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EntryTypeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashClearingSystem1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEnquiryRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentControlRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinalStatusCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="RJTD"/>
            <xs:enumeration value="CAND"/>
            <xs:enumeration value="FNLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification23">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FromToAmountRange1">
        <xs:sequence>
            <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
            <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetTransactionV11">
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxQryDef" type="TransactionQuery8"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="ImpliedCurrencyAmountRange1Choice">
        <xs:choice>
            <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
            <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
            <xs:element name="FrToAmt" type="FromToAmountRange1"/>
            <xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ImpliedCurrencyAndAmountRange1">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAmountRange1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Instruction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PBEN"/>
            <xs:enumeration value="TTIL"/>
            <xs:enumeration value="TFRO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructionStatusReturnCriteria1">
        <xs:sequence>
            <xs:element name="PmtInstrStsInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrStsDtTmInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrStsRsnInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionStatusSearch5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrSts" type="PaymentStatusCodeSearch2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrStsDtTm" type="DateTimePeriod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryStsRsn" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LongPaymentIdentification4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier"/>
            <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryTp" type="EntryTypeIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max128Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader9">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification39">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherContact1">
        <xs:sequence>
            <xs:element name="ChanlTp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max128Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party50Choice">
        <xs:choice>
            <xs:element name="Pty" type="PartyIdentification272"/>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party52Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification39"/>
            <xs:element name="PrvtId" type="PersonIdentification18"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification272">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party52Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification8Choice">
        <xs:choice>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="UETR" type="UUIDv4Identifier"/>
            <xs:element name="QId" type="QueueTransactionIdentification1"/>
            <xs:element name="LngBizId" type="LongPaymentIdentification4"/>
            <xs:element name="ShrtBizId" type="ShortPaymentIdentification4"/>
            <xs:element name="PrtryId" type="Max70Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PaymentInstrument1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BDT"/>
            <xs:enumeration value="BCT"/>
            <xs:enumeration value="CDT"/>
            <xs:enumeration value="CCT"/>
            <xs:enumeration value="CHK"/>
            <xs:enumeration value="BKT"/>
            <xs:enumeration value="DCP"/>
            <xs:enumeration value="CCP"/>
            <xs:enumeration value="RTI"/>
            <xs:enumeration value="CAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentOrigin1Choice">
        <xs:choice>
            <xs:element name="FINMT" type="Max3NumericText"/>
            <xs:element name="XMLMsgNm" type="Max35Text"/>
            <xs:element name="Prtry" type="Max35Text"/>
            <xs:element name="Instrm" type="PaymentInstrument1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentReturnCriteria4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgIdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdExctnDtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrStsRtrCrit" type="InstructionStatusReturnCriteria1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAmtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmAmtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtyInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgVldtyTmInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurpInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrCpyInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMTInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTpInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxIdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmDtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndIdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstgRmbrsmntAgtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdRmbrsmntAgtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentSearch10">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ReqdExctnDt" type="DateAndDateTimeSearch3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtId" type="PaymentIdentification8Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sts" type="InstructionStatusSearch5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstdAmt" type="ActiveOrHistoricAmountRange2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstdAmtCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrBkSttlmAmt" type="ActiveAmountRange3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrBkSttlmAmtCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtTp" type="PaymentType4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prty" type="Priority1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrcgVldtyTm" type="DateTimePeriod1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Instr" type="Instruction1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UETR" type="UUIDv4Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EndToEndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pties" type="PaymentTransactionParty4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusCodeSearch2Choice">
        <xs:choice>
            <xs:element name="PdgSts" type="PendingStatus4Code"/>
            <xs:element name="FnlSts" type="FinalStatusCode"/>
            <xs:element name="PdgAndFnlSts" type="CashPaymentStatus2Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentTransactionParty4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstgAgt" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAgt" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtDbtr" type="Party50Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="Party50Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstgRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="Party50Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtCdtr" type="Party50Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBS"/>
            <xs:enumeration value="BCK"/>
            <xs:enumeration value="BAL"/>
            <xs:enumeration value="CLS"/>
            <xs:enumeration value="CTR"/>
            <xs:enumeration value="CBH"/>
            <xs:enumeration value="CBP"/>
            <xs:enumeration value="DPG"/>
            <xs:enumeration value="DPN"/>
            <xs:enumeration value="EXP"/>
            <xs:enumeration value="TCH"/>
            <xs:enumeration value="LMT"/>
            <xs:enumeration value="LIQ"/>
            <xs:enumeration value="DPP"/>
            <xs:enumeration value="DPH"/>
            <xs:enumeration value="DPS"/>
            <xs:enumeration value="STF"/>
            <xs:enumeration value="TRP"/>
            <xs:enumeration value="TCS"/>
            <xs:enumeration value="LOA"/>
            <xs:enumeration value="LOR"/>
            <xs:enumeration value="TCP"/>
            <xs:enumeration value="OND"/>
            <xs:enumeration value="MGL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentType4Choice">
        <xs:choice>
            <xs:element name="Cd" type="PaymentType3Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingStatus4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPD"/>
            <xs:enumeration value="VALD"/>
            <xs:enumeration value="MATD"/>
            <xs:enumeration value="AUTD"/>
            <xs:enumeration value="INVD"/>
            <xs:enumeration value="UMAC"/>
            <xs:enumeration value="STLE"/>
            <xs:enumeration value="STLM"/>
            <xs:enumeration value="SSPD"/>
            <xs:enumeration value="PCAN"/>
            <xs:enumeration value="PSTL"/>
            <xs:enumeration value="PFST"/>
            <xs:enumeration value="SMLR"/>
            <xs:enumeration value="RMLR"/>
            <xs:enumeration value="SRBL"/>
            <xs:enumeration value="AVLB"/>
            <xs:enumeration value="SRML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress27">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CareOf" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferredContactMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="FAXX"/>
            <xs:enumeration value="LETT"/>
            <xs:enumeration value="CELL"/>
            <xs:enumeration value="ONLI"/>
            <xs:enumeration value="PHON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Priority1Choice">
        <xs:choice>
            <xs:element name="Cd" type="Priority5Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Priority5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="LOWW"/>
            <xs:enumeration value="NORM"/>
            <xs:enumeration value="URGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL"/>
            <xs:enumeration value="CHNG"/>
            <xs:enumeration value="MODF"/>
            <xs:enumeration value="DELD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QueueTransactionIdentification1">
        <xs:sequence>
            <xs:element name="QId" type="Max16Text"/>
            <xs:element name="PosInQ" type="Max16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STND"/>
            <xs:enumeration value="PRPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType4Choice">
        <xs:choice>
            <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
            <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RequestedIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="ShortPaymentIdentification4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemReturnCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysIdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MmbIdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryIdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemSearch5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysId" type="ClearingSystemIdentification3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MmbId" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionCriteria11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="TransactionSearchCriteria11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtRpt" type="ReportIndicator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="TransactionReturnCriteria5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionCriteria8Choice">
        <xs:choice>
            <xs:element name="QryNm" type="Max35Text"/>
            <xs:element name="NewCrit" type="TransactionCriteria11"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionQuery8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCrit" type="TransactionCriteria8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReturnCriteria5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtToRtrCrit" type="SystemReturnCriteria2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrRtrCrit" type="SystemReturnCriteria2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctCshNtryRtrCrit" type="AccountCashEntryReturnCriteria3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtRtrCrit" type="PaymentReturnCriteria4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionSearchCriteria11">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtTo" type="SystemSearch5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtFr" type="SystemSearch5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSch" type="PaymentSearch10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNtrySch" type="CashAccountEntrySearch8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
